* {/* Serve para zerar as variáveis que muitas vezes vem pre-definidas no html*/
    margin:0;
    padding:0;
}

:root {

    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: "Inter";
    --botao-secundario: #b06eee;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);  
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}


.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain; /* O uso de contain atrelado a classe faz com que a ação ocorra em toda a seção*/
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh; /* Notar que a classe está dentro da mesma classe "principal". a altura delimita qual será o tamanho da imagem dentro do ViewHeight*/
    display: grid;
    grid-template-columns: 50% 50% ;    
}

.container__botao {
    background-color: var(--botao-azul);
    text-decoration: none;
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1em;
    
}

.container__botao:hover{
    background-color: var(--botao-secundario);
    color: #00030C;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.acontainer__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;

}

.container__imagem{

    margin: 2em 0em 1em 0em;
}

.container__caixa{

    margin: 0em 6em;
}

.secundario{
    align-items: center;/*usada quando se trabalha com Flexbox ou Grid*/
    margin: 0 10em;
}

.secundario__imagem{
    width: 80%;
    
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
}

.rodape__logo{
    margin-bottom: 2em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.lista__link a{
    font-size: 16px;
    text-decoration: none;
    color: var(--branco-principal);
    margin: 0em 1em;
}

.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a:active{
    color: purple;
}

.rodape__texto{
    font-size: 14px;
    margin: 2em 0em;
    color: var(--cinza-secundario);
}